# Environment variables / secrets
.env

# Python virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/secrets.toml

# IDE / editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp